<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/0729_스트림_예제/src/남자회원_평균나이_구하기/StreamPipelinesEx.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="남자회원_평균나이_구하기.StreamPipelinesEx"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="0729_스트림_예제"/>
</launchConfiguration>
