



.Buttons .InnerButtons .ButtonsWrap .heart {background-image: url(img/heart.png); width:52px; height:52px;  background-size: 30px; background-repeat: no-repeat; background-position: 10px 10px; background-color: white;}
.menu { display:none;}

.side_menu:checked+.menu {display:inline;
position:absolute; top:500px; opacity: 0.8;}








.reviewdiv .btn {margin-left:400px;}
.reviewdiv {background-color:#2d2d30;}


div#editor{
    padding:16px 24px;
    border:1px solid black;
    border-radius: 4px;
    height: 900px;
    
}

#selectedimage{
  position:absolute; left:0px; top:0px;
}

form {
	width:2400px;
}

