<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

  <typeAliases> 
    <typeAlias alias="Msales" type="co.kr.mono.training.dto.MsalesDTO"/>
    <typeAlias alias="SaleCdDTO" type="co.kr.mono.homework.dto.SaleCdDTO"/>
    <package name="co.kr.mono.training.nvo"/>      
  </typeAliases>



  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="oracle.jdbc.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@211.193.30.144:2800:mdctdb"/>
        <property name="username" value="iaccess_user"/>
        <property name="password" value="iaccess"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="co/kr/mono/training/astep02/baseselect/SelectBaseMapper.xml"/>
    <mapper resource="co/kr/mono/training/astep03/select/SelectNVOMapper.xml"/>
    <mapper resource="co/kr/mono/homework/select/SelectNVOMapper.xml"/>
    <mapper resource="co/kr/mono/training/astep04/select/SelectVOMapper.xml"/>
    <mapper resource="co/kr/mono/training/astep05/select/SelectDepRtypeMapper.xml"/>
    <mapper resource="co/kr/mono/training/astep06/select/SelectCdataMapper.xml"/>    
    <mapper resource="co/kr/mono/training/astep15/mapping/SelectObjectMapper.xml"/>    
    <mapper resource="co/kr/mono/training/astep16/mapping/SelectObjectMapper.xml"/>    
  </mappers>
</configuration>