<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SelectNVOMapper">
  <select id="saleCnt" resultType="SaleCdDTO">
  SELECT AREACD
      ,CDNM
      ,REGIONAREA
      ,DECODE(GR,01,COL1,11,COL1,DECODE(SIGN(COL1-10),-1,0,SUBSTR(COL1,1,LENGTH(COL1)-1)))||'('||DECODE(GR,01,TRUNC((COL1/TOT*100),2),11,TRUNC((COL1/TOT*100),2),TRUNC(((SUBSTR(COL1,1,LENGTH(COL1)-1)/TOT)*100),2))||'%'||')'||DECODE(COL1,GREATEST(COL1,COL2,COL3,COL4,COL5,COL6,COL7,COL8,COL9),'▲')||DECODE(COL1,LEAST(COL1,COL2,COL3,COL4,COL5,COL6,COL7,COL8,COL9),'▼')||DECODE(GR,01,NULL,11,NULL,'*'||SUBSTR(COL1,-1))  COL1
      ,DECODE(GR,01,COL2,11,COL2,DECODE(SIGN(COL2-10),-1,0,SUBSTR(COL2,1,LENGTH(COL2)-1)))||'('||DECODE(GR,01,TRUNC((COL2/TOT*100),2),11,TRUNC((COL2/TOT*100),2),TRUNC(((SUBSTR(COL2,1,LENGTH(COL2)-1)/TOT)*100),2))||'%'||')'||DECODE(COL2,GREATEST(COL1,COL2,COL3,COL4,COL5,COL6,COL7,COL8,COL9),'▲')||DECODE(COL2,LEAST(COL1,COL2,COL3,COL4,COL5,COL6,COL7,COL8,COL9),'▼')||DECODE(GR,01,NULL,11,NULL,'*'||SUBSTR(COL2,-1)) COL2
      ,DECODE(GR,01,COL3,11,COL3,DECODE(SIGN(COL3-10),-1,0,SUBSTR(COL3,1,LENGTH(COL3)-1)))||'('||DECODE(GR,01,TRUNC((COL3/TOT*100),2),11,TRUNC((COL3/TOT*100),2),TRUNC(((SUBSTR(COL3,1,LENGTH(COL3)-1)/TOT)*100),2))||'%'||')'||DECODE(COL3,GREATEST(COL1,COL2,COL3,COL4,COL5,COL6,COL7,COL8,COL9),'▲')||DECODE(COL3,LEAST(COL1,COL2,COL3,COL4,COL5,COL6,COL7,COL8,COL9),'▼')||DECODE(GR,01,NULL,11,NULL,'*'||SUBSTR(COL3,-1)) COL3
      ,DECODE(GR,01,COL4,11,COL4,DECODE(SIGN(COL4-10),-1,0,SUBSTR(COL4,1,LENGTH(COL4)-1)))||'('||DECODE(GR,01,TRUNC((COL4/TOT*100),2),11,TRUNC((COL4/TOT*100),2),TRUNC(((SUBSTR(COL4,1,LENGTH(COL4)-1)/TOT)*100),2))||'%'||')'||DECODE(COL4,GREATEST(COL1,COL2,COL3,COL4,COL5,COL6,COL7,COL8,COL9),'▲')||DECODE(COL4,LEAST(COL1,COL2,COL3,COL4,COL5,COL6,COL7,COL8,COL9),'▼')||DECODE(GR,01,NULL,11,NULL,'*'||SUBSTR(COL4,-1)) COL4
      ,DECODE(GR,01,COL5,11,COL5,DECODE(SIGN(COL5-10),-1,0,SUBSTR(COL5,1,LENGTH(COL5)-1)))||'('||DECODE(GR,01,TRUNC((COL5/TOT*100),2),11,TRUNC((COL5/TOT*100),2),TRUNC(((SUBSTR(COL5,1,LENGTH(COL5)-1)/TOT)*100),2))||'%'||')'||DECODE(COL5,GREATEST(COL1,COL2,COL3,COL4,COL5,COL6,COL7,COL8,COL9),'▲')||DECODE(COL5,LEAST(COL1,COL2,COL3,COL4,COL5,COL6,COL7,COL8,COL9),'▼')||DECODE(GR,01,NULL,11,NULL,'*'||SUBSTR(COL5,-1)) COL5
      ,DECODE(GR,01,COL6,11,COL6,DECODE(SIGN(COL6-10),-1,0,SUBSTR(COL6,1,LENGTH(COL6)-1)))||'('||DECODE(GR,01,TRUNC((COL6/TOT*100),2),11,TRUNC((COL6/TOT*100),2),TRUNC(((SUBSTR(COL6,1,LENGTH(COL6)-1)/TOT)*100),2))||'%'||')'||DECODE(COL6,GREATEST(COL1,COL2,COL3,COL4,COL5,COL6,COL7,COL8,COL9),'▲')||DECODE(COL6,LEAST(COL1,COL2,COL3,COL4,COL5,COL6,COL7,COL8,COL9),'▼')||DECODE(GR,01,NULL,11,NULL,'*'||SUBSTR(COL6,-1)) COL6
      ,DECODE(GR,01,COL7,11,COL7,DECODE(SIGN(COL7-10),-1,0,SUBSTR(COL7,1,LENGTH(COL7)-1)))||'('||DECODE(GR,01,TRUNC((COL7/TOT*100),2),11,TRUNC((COL7/TOT*100),2),TRUNC(((SUBSTR(COL7,1,LENGTH(COL7)-1)/TOT)*100),2))||'%'||')'||DECODE(COL7,GREATEST(COL1,COL2,COL3,COL4,COL5,COL6,COL7,COL8,COL9),'▲')||DECODE(COL7,LEAST(COL1,COL2,COL3,COL4,COL5,COL6,COL7,COL8,COL9),'▼')||DECODE(GR,01,NULL,11,NULL,'*'||SUBSTR(COL7,-1)) COL7
      ,DECODE(GR,01,COL8,11,COL8,DECODE(SIGN(COL8-10),-1,0,SUBSTR(COL8,1,LENGTH(COL8)-1)))||'('||DECODE(GR,01,TRUNC((COL8/TOT*100),2),11,TRUNC((COL8/TOT*100),2),TRUNC(((SUBSTR(COL8,1,LENGTH(COL8)-1)/TOT)*100),2))||'%'||')'||DECODE(COL8,GREATEST(COL1,COL2,COL3,COL4,COL5,COL6,COL7,COL8,COL9),'▲')||DECODE(COL8,LEAST(COL1,COL2,COL3,COL4,COL5,COL6,COL7,COL8,COL9),'▼')||DECODE(GR,01,NULL,11,NULL,'*'||SUBSTR(COL8,-1)) COL8
      ,DECODE(GR,01,COL9,11,COL9,DECODE(SIGN(COL9-10),-1,0,SUBSTR(COL9,1,LENGTH(COL9)-1)))||'('||DECODE(GR,01,TRUNC((COL9/TOT*100),2),11,TRUNC((COL9/TOT*100),2),TRUNC(((SUBSTR(COL9,1,LENGTH(COL9)-1)/TOT)*100),2))||'%'||')'||DECODE(COL9,GREATEST(COL1,COL2,COL3,COL4,COL5,COL6,COL7,COL8,COL9),'▲')||DECODE(COL9,LEAST(COL1,COL2,COL3,COL4,COL5,COL6,COL7,COL8,COL9),'▼')||DECODE(GR,01,NULL,11,NULL,'*'||SUBSTR(COL9,-1)) COL9
      ,TOT
      FROM(
   SELECT
       AREA_CD AREACD
      ,CD_NM CDNM
      ,REGION_AREA REGIONAREA
      ,TO_NUMBER(MAX(COL1||DECODE(COL1,0,MRK+1,RK))) COL1
      ,TO_NUMBER(MAX(COL2||DECODE(COL2,0,MRK+1,RK))) COL2
      ,TO_NUMBER(MAX(COL3||DECODE(COL3,0,MRK+1,RK))) COL3
      ,TO_NUMBER(MAX(COL4||DECODE(COL4,0,MRK+1,RK))) COL4
      ,TO_NUMBER(MAX(COL5||DECODE(COL5,0,MRK+1,RK))) COL5
      ,TO_NUMBER(MAX(COL6||DECODE(COL6,0,MRK+1,RK))) COL6
      ,TO_NUMBER(MAX(COL7||DECODE(COL7,0,MRK+1,RK))) COL7
      ,TO_NUMBER(MAX(COL8||DECODE(COL8,0,MRK+1,RK))) COL8
      ,TO_NUMBER(MAX(COL9||DECODE(COL9,0,MRK+1,RK))) COL9 
      ,MAX(TOT) TOT
      ,MAX(GR) GR
        FROM  (
 (
    SELECT AREA_CD
          ,DECODE(GROUPING(AREA_CD)||GROUPING(REGION_AREA) 
                 ,'00', MIN(CD_NM) ,'01',MIN(CD_NM)||'합계','총계') CD_NM
          ,REGION_AREA
         ,NVL(SUM(DECODE(PROD_ID,'00001',SALE_CNT)),0) COL1
,NVL(SUM(DECODE(PROD_ID,'00002',SALE_CNT)),0) COL2
,NVL(SUM(DECODE(PROD_ID,'00003',SALE_CNT)),0) COL3
,NVL(SUM(DECODE(PROD_ID,'00004',SALE_CNT)),0) COL4
,NVL(SUM(DECODE(PROD_ID,'00005',SALE_CNT)),0) COL5
,NVL(SUM(DECODE(PROD_ID,'00006',SALE_CNT)),0) COL6
,NVL(SUM(DECODE(PROD_ID,'00007',SALE_CNT)),0) COL7
,NVL(SUM(DECODE(PROD_ID,'00008',SALE_CNT)),0) COL8
,NVL(SUM(DECODE(PROD_ID,'00009',SALE_CNT)),0) COL9
,MAX(RK) MRK
,RK

          ,SUM(SALE_CNT) TOT         
          ,GROUPING(AREA_CD)||GROUPING(REGION_AREA) GR             
    FROM (
    
       SELECT
             AREA_CD
            ,REGION_AREA
            ,PROD_ID
            ,SALE_CNT
           ,DENSE_RANK() OVER(PARTITION BY AREA_CD,REGION_AREA ORDER BY SUM(SALE_CNT) DESC) RK 
              
    FROM(
      SELECT AREA_CD
            ,REGION_AREA
            ,PROD_ID
            ,SUM(SALE_CNT) SALE_CNT   
      FROM SALE_TBL
      <![CDATA[ WHERE ROWNUM <= 3000000 ]]>
      GROUP BY AREA_CD
              ,REGION_AREA
              ,PROD_ID
              
    )GROUP BY AREA_CD
              ,REGION_AREA
              ,PROD_ID
              ,SALE_CNT )A, CD_TBL B
    WHERE A.AREA_CD = B.CD_ID
    GROUP BY ROLLUP(AREA_CD,REGION_AREA,RK)
))GROUP BY AREA_CD
      ,CD_NM
      ,REGION_AREA ORDER BY AREA_CD)
  

  

      </select>
  

  
</mapper>